<ion-pane>

<ion-header-bar class="bar bar-header bar-balanced">
    <button class="back_button">
          <i class="ion-arrow-left-a" style="font-size: 25px;"></i>
    </button>
    <h1 class="title" style="text-align: center; color: #ffffff; right: 42px;">Список блюд</h1>
    <button class="button button-clear ion-home" style="margin-right: 3%; font-size: 25px"></button>
    <a href="#/basket"><button class="button button-clear icon ion-ios-cart-outline" style="font-size: 25px">
      </button></a>
  </ion-header-bar>


</ion-pane>
