<ion-pane ng-controller="contactsCtrl">
<ion-header-bar class="bar bar-header bar-balanced">
    <button class="back_button" ng-click="doTheBack()">
          <i class="ion-arrow-left-a" style="font-size: 25px;"></i>
    </button>
    <h1 class="title" style="text-align: center; color: #ffffff; right: 42px;">Контакты</h1>
  </ion-header-bar>

<ion-content>

<div class="item item-text-wrap" style="margin: 1%;font-size: 1.1rem">
      <p>Для уточнения деталей</p>
      <p>сотрудничества звоните по тел.</p>
      <p><strong>+38 (050) 980-45-78</strong></p>
      <p>или пишите на Email:</p>
      <p><strong>yocarlostony@gmail.com</strong></p>
      <p>Мы находимся по адресу:</p>
      <p><strong>ул. Кооперативная 7</strong></p>
</div>

<div class="btngomenu" style="text-align: center; margin-top: 10%;">
  <a href ="#/menu">
  <button class="button button-balanced">
  <i class="ion-fork"></i>
     Перейти к меню
  </button>
  </a>
  </div>


</ion-content>
</ion-pane>
