<ion-pane ng-controller="aboutCtrl">

<ion-header-bar class="bar bar-header bar-balanced">
    <button class="back_button" ng-click="doTheBack()">
          <i class="ion-arrow-left-a" style="font-size: 25px;"></i>
    </button>
    <h1 class="title" style="text-align: center; color: #ffffff; right: 42px;">О нас</h1>
  </ion-header-bar>

<ion-content>
	<div  style="margin: 4%; text-indent: 15px;">
    Рестораны Сумы - приложение, справочник по всем ресторанам, кафе и столовым города Сумы.<br> 
Мы предлагаем владельцам и посетителям размещать данные о ресторанах у нас в сервисе.
У нас вы найдете подробную информацию о заведении, его меню, фото блюд, их описание, место расположение.<br>
В дальнейшем, Вы сможете заказать блюда прямо из приложения
Мы приглашаем владельцев и представителей ресторана принять участие в нашем проекте для уточнения деталей сотрудничества звоните по тел. <p style="margin: 1%; color: #169900; font-size: 16px;"><strong>+38 (050) 980-45-78</strong></p> или пишите на Email: <p style="margin: 1%; color: #169900; font-size: 16px;"><strong>yocarlostony@gmail.com</strong></p>
  </div>

  <div class="btngomenu" style="text-align: center; margin-top: 10%;">
  <a href ="#/menu">
  <button class="button button-balanced">
  <i class="ion-fork"></i>
     Перейти к меню
  </button>
  </a>
  </div>

</ion-content>
</ion-pane>
